In [27]:
import pandas as pd

In [3]:
import numpy as np
import torch

In [22]:
import sklearn
import sklearn.linear_model

In [4]:
class dts_table(torch.utils.data.Dataset):  # dataset for table data (nSamples, nfeatures)
    def __init__(self, X: np.ndarray, Y: np.ndarray = None, outfeatures=1, scaler=None):
        assert isinstance(X, np.ndarray) and len(X.shape) == 2, 'Error in myDataset.__init__, check X'
        if Y is None:
            self.X = X[:, :-outfeatures]
            self.Y = X[:, -outfeatures:]
        else:
            assert X.shape[0] == Y.shape[0], 'Error in myDataset.__init__, check X and Y'
            self.X = X
            self.Y = Y if len(Y.shape) == 2 else Y[:, None]

        self.nfeatures = self.X.shape[1]
        self.ntargets = self.Y.shape[1]

        self.size = self.X.shape[0]

    def __len__(self):
        return self.size

    def __getitem__(self, idx: int):
        return self.X[idx, :], self.Y[idx, :]

In [5]:
xs = np.random.normal(0, 1, (1000, 10))
ys = np.random.normal(0, 1, (1000, 2))

In [6]:
dataset = dts_table(xs, ys)

In [8]:
sst = torch.utils.data.Subset(dataset, range(100))  # subset

In [17]:
sst.indices

range(0, 100)

In [18]:
sst.

SyntaxError: invalid syntax (2673363485.py, line 1)

In [23]:
m = sklearn.linear_model.LinearRegression()

In [26]:
len(sst)

100

In [28]:
a = {'a':1, 'b': 2}

In [30]:
df1 = pd.DataFrame(columns=a.keys())

In [31]:
df1

Empty DataFrame
Columns: [a, b]
Index: []

In [34]:
df1.append({'a':2, 'b':44})

AttributeError: 'DataFrame' object has no attribute 'append'

In [38]:
df = pd.DataFrame(np.arange(16).reshape((4,4)), columns=('a', 'b', 'c', 'd'))

In [41]:
df2 = df.set_index(['a', 'b'])

In [42]:
df2

        c   d
a  b
0  1    2   3
4  5    6   7
8  9   10  11
12 13  14  15

In [43]:
df2

c    2
d    3
Name: (0, 1), dtype: int32